<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="ErpNet.FP - Fiscal Print Server" Language="1033" Version="1.0.726.1726"
             Manufacturer="Erp.Net And Contributors"
             UpgradeCode="05e58513-a8d9-45bf-a280-d47ccb696623">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <!-- Cab file to be embedded in the .msi file -->
        <MediaTemplate EmbedCab="yes" />

        <!-- Add CheckBox UI to your installer for running application on exit-->
        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ExitDialog" Order="3">1</Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <CustomAction Id="LaunchApplication" Directory="INSTALLFOLDER" ExeCommand="explorer.exe http://localhost:8001" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Show Admin (http://localhost:8001)" />

        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <!-- Id and the name of the folder in Program Files -->
                <Directory Id="INSTALLFOLDER" Name="ErpNet.FP" />
            </Directory>
        </Directory>
        <Feature Id="ProductFeature" Title="ErpNet.FP.Setup" Level="1">
            <!-- ComponentGroupRef Id="ProductFilesComponentGroup" /-->
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="PdbFile" Guid="*">
                <!-- Install service executable pdf file -->
                <File Id="ErpNet.FP.Server.pdb" 
                      KeyPath="yes" 
                      Source="$(var.OUTPUT)\ErpNet.FP.Server.pdb" />
            </Component>
            <Component Id="ExeFile" Guid="*">
                <!-- Install service executable -->
                <File
                  Id="ErpNet.FP.Server"
                  Source="$(var.OUTPUT)\ErpNet.FP.Server.exe"
                  KeyPath="yes" />
                <!-- Install service -->
                <ServiceInstall 
                        Id="ServiceInstaller" 
                        Type="ownProcess" 
                        Name="ErpNetFPServer"
                        DisplayName="ErpNet.FP - Fiscal Print Server"
                        Description="Http server for printing to fiscal printers through simple JSON Api (https://github.com/erpnet/erpnet.fp)."
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal" />
                <!-- Set start/stop/remove options -->
                <ServiceControl 
                        Id="StartService"
                        Name="ErpNetFPServer" 
                        Stop="both" 
                        Start="install" 
                        Remove="uninstall"
                        Wait="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
